ngb-carousel{    
    margin-left: auto;
    margin-right: auto;
    
}

.item{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
   
}
.full{
    
    padding-left: 0px;
    padding-right: 0px;

}