<section id="home">
  <div class="container-fluid d-none d-md-block full">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/img1.jpg" alt="Random first slide" class="d-block w-100">       
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/img2.jpg"  alt="Random second slide"class="d-block w-100">        
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/img3.jpg" alt="Random third slide"class="d-block w-100">        
      </ng-template>
      <ng-template ngbSlide>
          <img src="assets/img/img4.jpg" alt="Random forth slide"class="d-block w-100">        
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/img5.jpg" alt="Random five slide"class="d-block w-100">        
      </ng-template>
    </ngb-carousel>

  </div>
</section>